<app-navbar></app-navbar>

<div class="container">
<div class="card main" style="width: 18rem;">
    <div class="card-body" >
      <h5 class="card-title">Employees</h5>
      <h6 class="card-subtitle mb-2 text-muted">Individual Employee Details</h6>
      <label for="myid"><Strong>Id</Strong></label>
      <p id="myid">{{employees.Id}}</p>
      <label for="myName"><Strong>Name</Strong></label>
      <p id="myName">{{employees.Name}}</p>
      <label for="myEmail"><Strong>Email</Strong></label>
      <p id="myEmail">{{employees.Email}}</p>
      <a href="#" class="card-link">Go To Home</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
  </div>
